/** CSS STYLES FOR APP */
.App {
  background-color: white;
  text-align: center;
}

.App-header {
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  color: black;
}
