/** CSS STYLES FOR REPL, REPL HISTORY, REPL-INPUTS */
.repl {
  position: relative;
  min-height: 95vh;
}

.repl-history {
  flex: 4;
  background-color: gray;
  height: 55vh;
  margin: auto;
  display: block;
  overflow: scroll;
}

.repl-input {
  margin: auto;
  height: 10vh;
}

.repl-command-box {
  width: 90%;
  margin: auto;
  display: block;
}

button {
  color: gray;
  font-weight: bold;
  margin: auto;
  display: block;
}

.buttontext{
  color: dark-gray;
}

.success{
  background: lightgreen;
  color: black;
  font-weight: bold
}

.error{
  background: salmon;
  color: black;
  font-weight: bold
}

.command{
  background: #2E3559;
  color: white;
  font-weight: bold
}

.container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  width: 80%;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

.container1 {
  flex-direction: row;
  background-color: black;
  width: 80%;
  align-self: center;
  margin-left: auto;
  margin-right: auto
}

.container2 {
  flex-direction: row;
  background-color: black;
  width: 80%;
  height: 140%;
  align-self: center;
  margin-left: auto;
  margin-right: auto
}

.loaded {
  flex: 1;
  height: 50px;
  background: lightgreen;
  color: black;
  font-weight: bold;
}

.notloaded {
  flex: 1;
  height: 50px;
  width: fit-content;
  background: salmon;
  color: black;
  font-weight: bold;
}

.briefmode {
  flex: 1;
  height: 50px;
  background: gray;
  color: white;
  font-weight: bold;
}

.verbosemode {
  flex: 1;
  height: 50px;
  background: lavender;
  color: black;
  font-weight: bold;
}

.smalltext{
  font-weight: bold;
  font-size: small;
}

.history{
  background-color: black;
  height: 30px;
  font-size:large;
  font-weight: bold;
  color: white;
}

.command-box{
  background-color: rgb(75, 73, 73);
  color: white;
  flex:1;
  font-size: small;
  height: 55vh;
  font-weight: bold;
}

.table{
  margin-left: auto;
  margin-right: auto;
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
}

td, tr {
  border: 1px solid black;
  padding: 3px;
  border: solid 2px;
  text-align: center;
  font-weight: bold;
  color: black;
}

td{
  width: 10% ;
}

.tablecontainer{
  background-color: lightgreen;
}
